[submodule "app_fe"]
	path = app_fe
	url = https://github.com/koharudin/rinstat-fe.git
	branch = main

[submodule "app_be"]
	path = app_be
	url = https://github.com/koharudin/rinstat-be.git
	branch = main
